h1{
    color: rgb(240, 3, 3);
    text-align: center;
    font-size:50px ;
}

body{
    background-color: rgb(7, 7, 7);
}
.oi{
    text-align: center;
}.container-imagens {
    /* Define o container como um Flexbox */
    display: flex;

    /* Centraliza os itens horizontalmente */
    justify-content: center;

    /* Adiciona um espaço entre as imagens, se necessário */
    gap: 10px;
}

/* Opcional: Estilos para as imagens */
.container-imagens img {
    /* Garante que as imagens não passem da largura do container */
    max-width: 100%;

    /* Altura automática para manter a proporção */
    height: auto;
}
.kk{
    text-align: center;
}
/* Centralizando o botão dentro de sua própria div */

.pt{
    text-align: center;
    

}










body {
    background-image: url(oo.gif) !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-size: cover !important;
}



/* Intro Tela Cheia */
#intro {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 9999;
  background: linear-gradient(-45deg, #4e4f51, #1a1d23, #4b4b4c, #d6dddf);
  background-size: 400% 400%;
  animation: gradientMove 6s ease infinite, fadeOut 2s ease 4s forwards;
}

.intro-content {
  text-align: center;
  animation: popUp 3s ease forwards;
}

#intro h4 {
  font-size:3.5rem;
  background: linear-gradient(90deg, #0b0b0b, #3b3c3c);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 900;
  opacity: 0;
  animation: fadeIn 3s ease forwards;
}

#intro p {
  color: #8383aa;
  margin-top: 20px;
  font-size: 1.3rem;
  opacity: 0;
  animation: fadeIn 2s ease 1s forwards;
}

@keyframes gradientMove {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

@keyframes fadeIn {
  to { opacity: 1; }
}

@keyframes fadeOut {
  to { opacity: 0; visibility: hidden; }
}

@keyframes popUp {
  0% { transform: scale(0.7); opacity: 0; }
  100% { transform: scale(1); opacity: 1; }
}
